<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Book Reviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top-bar">
    <span class="top-bar-left"><%= link_to "Fantasy Book Reviews", root_path %></span>
    <ul class="menu dropdown" data-dropdown-menu>
    <li>
      <a href="#">Menu</a>
      <ul class="menu">
        <li>
          <a href="/books">Book List</a>
        </li>
        <% if signed_in? %>
        <li>
          <a href="#"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
        </li>
        <% else %>
        <li>
          <a href="#"><%= link_to "Sign In", new_user_session_path %></a>
        </li>
        <li> 
          <a href="#"><%= link_to "Sign Up", new_user_registration_path %></a>
        </li>
        <% end %>
      </ul>
    </li>
    </ul>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
